.imgintegrantes {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 95vw;
  max-height: 300px;
  border-radius: 15px;
}

.integrantesphotos {
  display: flex;
  justify-content: center;
}
