.containervid {
  width: 95%;
  margin: 0 1rem;
}

.videoclip {
  margin-right: 20px;
  float: left;
}

.parrafos-v {
  font-size: 15px;
  text-align: center;
  align-items: center;
}

.subt-v {
  font-size: 22px;
}
